<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/form.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
    rel="stylesheet"
  />

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="" />
                <span> F i t f u e l </span>
              </a>
            </nav>
          </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section position-relative">
          <div class="side_heading">
            <h5>F I T F U E L</h5>
          </div>
        </section>
        <!-- end slider section -->
      </div>
    <div class="form-modal" style="position: absolute; top: 0; width: 60%; height: 85%">
        <div>
            <h1 style="text-align: center;">Recommend Diet Plan For You</h1>
        </div>
        <div>
            <p>Break fast: {{ v1 }}</p>
            <p>lunch: {{ v2 }}</p>

            <p>dinner: {{ v3 }}</p>

        </div>
      </div>
</body>
<script src="/js/form.js"></script>
</html>